$('#modalHistoriaclinicas').modal('toggle');
$('#tablaHistoriaclinicas').append(
    '<tr id="historiaclinica_<%= @historiaclinica.id %>" ><td><%= @historiaclinica.paciente != nil ?  "#{@historiaclinica.paciente.dni}"  + " - " +  @historiaclinica.paciente.nombre  + " " +  @historiaclinica.paciente.apellido : "No tiene categoria" %></td><td><%= @historiaclinica.diagnostico %></td><td><%= link_to 'editar', edit_historiaclinica_path(@historiaclinica), html_options = {class: "btn btn-info btn-xs", remote: true} %> <%= link_to "Borrar", @historiaclinica, remote: true, method: :delete, data: { confirm: "¿Borrar historiaclinica: #{@historiaclinica.diagnostico}?"}, class: "btn btn-danger btn-xs" %></td></tr>'
);