$('#modalHistoriaclinicas').modal('toggle');
$('#historiaclinica_<%= @historiaclinica.id %>').replaceWith(
    '<tr id="historiaclinica_<%= @historiaclinica.id %>" ><td><%= @historiaclinica.diagnostico %></td><td><%= @historiaclinica.paciente != nil ? #{@historiaclinica.paciente.dni}  + " - " +  @historiaclinica.paciente.nombre  + " " +  @historiaclinica.paciente.apellido : "No hay paciente" %></td><td><%= link_to 'editar', edit_historiaclinica_path(@historiaclinica), html_options = {class: "btn btn-info btn-xs", remote: true} %> <%= link_to "Borrar", @historiaclinica, remote: true, method: :delete, data: { confirm: "¿Borrar historia clinica: #{@historiaclinica.diagnostico}?"}, class: "btn btn-danger btn-xs" %></td></tr>'
);