<h1 class="h2 mb-2 text-gray-800">Registro de Doctores</h1>

<div>  
  <%= link_to  new_doctor_path, {remote: true, class: "btn btn-info", id: "anadir-doctores-btn"}  do %>
    <span class="fas fa-plus-square" ></span>
  <% end %>
</div>
<br />

<div class="card shadow mb-4">
  <div class="card-body">
    <div class="table-responsive">
       <table id="tablaDoctores" class="table table-bordered" width="100%">
         <thead>
           <tr>
             <th>Cedula</th>
             <th>Nombre</th>
             <th>Apellidopa</th>
             <th>Apellidoma</th>
             <th>Especialidad</th>
             <th>Telefono</th>
             <th>Direccion</th>
             <th></th>
           </tr>
         </thead>
         <tbody>
         <% @doctores.each do |tbdo| %>
            <tr id="paciente_<%= tbdo.id %>" >
                <td><%= tbdo.cedula %></td>
                <td><%= tbdo.nombre %></td>
                <td><%= tbdo.apellidopa %></td>
                <td><%= tbdo.apellidoma %></td>
                <td><%= tbdo.especialidad %></td>
                <td><%= tbdo.telefono %></td>
                <td><%= tbdo.direccion %></td>
                <td>
                <%= link_to 'editar', edit_doctor_path(tbdo), html_options = {class: "btn btn-info btn-xs", remote: true} %>
                <%= link_to 'Borrar', tbdo, remote: true, method: :delete, data: { confirm: "¿borrar al doctor: #{tbdo.nombre}?"}, class: "btn btn-danger btn-xs" %>
                </td>
            </tr>
         <% end %>
         </tbody>
       </table>
    </div>
  </div>
</div>

<%= render 'modal_doctores' %>